{extend name="$_admin_public_base_"/}
{block name="style"}{/block}

{block name="main"}
<section class="content pt-5">
    <div class="box box-solid eacoo-box">
        <div class="box-body">
            <div class="cf eacoo-tabs">
                <ul class="nav nav-tabs">
                    <li class="tab_list active"><a href="javascript:;">基本信息</a></li>
                </ul>

            </div>


        <div class="builder formbuilder-box panel-body bg-color-fff">

            <div class="row">
                <div class="col-md-11">
                  <form action="" method="post" class="form-builder form-horizontal">
                    <fieldset>
                      <input type="hidden" name="id" value="{$info.id}">

                        <div class="tab_content">
					    <div class="form-group item_title">
							<label class="col-md-2 control-label">秒杀标题：</label>
							<div class="col-md-4">
							  <input type="text" class="form-control" name="title" placeholder="标题" value="{$info.title|default=''}" >
							</div>
						  <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 必须填写</div>
					    </div>



                            <div class="form-group item_title">
                                <label class="col-md-2 control-label">开始日期：</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control times1" name="start_time" placeholder="开始日期" value="{$info.start_time|default=''}" >
                                </div>
                                <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 生效日期</div>
                            </div>

                            <div class="form-group item_title">
                                <label class="col-md-2 control-label">结束日期：</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control times2" name="end_time" placeholder="结束日期" value="{$info.end_time|default=''}" >
                                </div>
                                <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 结束日期不能小于开始日期</div>
                            </div>

                        <div class="form-group item_image">
                            <label for="image" class="col-md-2 control-label">缩率图：</label>
                            {include file="ad/picture"/}
                        </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-2">
                                <div class="col-md-3"><button class="btn btn-block btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</button></div>
                                <div class="col-md-3"><button class="btn btn-block btn-default return" onclick="javascript:history.back(-1);return false;">返回</button></div>
                            </div>
                        </div>



                         </fieldset>
                  </form>

                </div>    
           </div>
         </div>
        </div>
    </div>
</section>
{/block}
{block name="script"}
<script>
$('select[name="position_id"]').change(function () {
    var size = $(this).find('option:selected').attr('data-size');

    if(size!=''){
        $("#description").text('图片尺寸'+size);
    }
});
</script>
<link rel="stylesheet" href="/static/home/layui/css/layui.css">
<script src="/static/home/layui/layui.all.js" charset="utf-8"></script>
<script>
    var $table = $('#builder-table');
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //国际版
        laydate.render({
            elem: '.times1'
            ,type: 'datetime'
            ,format:'yyyy-MM-dd HH:mm'
        });
        laydate.render({
            elem: '.times2'
            ,type: 'datetime'
            ,format:'yyyy-MM-dd HH:mm'
        });
    });
</script>



{/block}
