{php}

      if (strpos($fieldc['name'],'[')) {
$fieldc['id']=str_replace(']','',str_replace('[','',$fieldc['name']));
      } else{
$fieldc['id']=$fieldc['name'];
      }
      $path_type = isset($fieldc['options']['path_type'])? $fieldc['options']['path_type']:'picture';
{/php}
<div class="col-md-6" style="padding-bottom: 5px;padding-left: 5px;">
<div class="controls" style="padding-bottom: 5px;padding-left: 5px;">
    
    <input class="attach" type="hidden" id="{$fieldc.id}" name="{$fieldc.name}" value="{$fieldc.value|default=''}"/>
    <div>
        <span class="btn btn-info ml-10 mt-10 btn-sm" data-url="{:url('admin/Upload/attachmentLayer',['input_id_name'=>$fieldc['id'],'path_type'=>$path_type,'gettype'=>'single'])}" onclick="openAttachmentLayer(this);"><i class="fa fa-file-image-o"></i> 选择图片</span>
    </div>
    <div class="upload-img-box tc popup-gallery fl img-thumbnail pr ">
        <div class="each">

         
        {empty name="fieldc.value"}
            <img src="{php} echo get_image(0);{/php}">
        {else /}

            <i onclick="admin_image.removeImage($(this),'{$fieldc.value}')" class="fa fa-times-circle remove-attachment"></i>
            <a href="{$fieldc.value|get_image}" target="_blank" title="点击查看大图">
                <img src="{$fieldc.value|get_image}">
            </a>
             
        {/empty}
        </div>

    </div>
    {notempty name="fieldc.description"}<div class="help-block col-md-6 pl-10 fn">{$fieldc.description}</div>{/notempty}
    
</div>
</div>
