{extend name="$_admin_public_base_"/}
{block name="style"}{/block}

{block name="main"}
<link rel="stylesheet" href="/static/libs/bootstrap-table/bootstrap-table.min.css">

<!----- 搜索 ----->
<section class="row-content pt-5">
    <div class="box box-default">
        <div class="box-header with-border pb-0">
            <h3 class="box-title">高级查询</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <form id="search_form" action="{:url('')}" method="get">
        <div class="box-body" id="eacoo-toolbar">
            <div class="form-inline" role="form">

                <div class="form-group mt-10">

                    <input type="text" class="form-control" name="keywords" value="{$get['keywords']}" placeholder="标题">
                </div>
                <input type="hidden" name="excel" id="excel" value="" />
                <div class="form-group mt-10">
                    <button type="button" class="btn btn-success search-btn" id="search">查询</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>

<section class="content pt-5">
        <div class="box-body" style="background: #fff;">
            <div class="builder listbuilder-box">
                <!-- 顶部工具栏按钮 -->
                <!-- 数据列表 -->
                <div class="builder-container">
                    <div class="row">

                        <div class="builder-table col-sm-12">
                        <div class="bootstrap-table">
                                <div class="fixed-table-toolbar"><div class="bs-bars pull-left">
                                    <div id="builder-toolbar" class="toolbar">
                                    <!-- 工具栏按钮 -->

                                    <!-- </div>-->
                                    </div>
                                </div>

                                <div class="fixed-table-container fixed_table_list" style="padding-bottom: 0px;">
                                    <div class="fixed-table-header" ></div>
                                    <table id="builder-table" class="table table-responsive table-bordered table-hover dataTable" data-pagination="true" data-toolbar="#builder-toolbar" data-query-params="queryParams" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" width="100%">
                                        <thead>
                                        <tr>
                                            <!--<th class="bs-checkbox checkbox-toggle" style="width: 36px;" data-field="state">
                                                <input name="btSelectAll" type="checkbox" >
                                                <div class="fht-cell"></div>
                                            </th>-->
                                            <th style="" >
                                                <div class="th-inner sortable both">ID</div>
                                            </th>
                                            <th style="" >
                                                <div class="th-inner sortable both">标题</div>
                                            </th>
                                            <th style="">
                                                <div class="th-inner sortable both">价格</div>
                                            </th>
                                            <th style="">
                                                <div class="th-inner sortable both">起买量</div>
                                            </th>
                                            <th style="">
                                                <div class="th-inner sortable both">更新日期</div>
                                            </th>
                                            <th style="" data-field="right_button">
                                                <div class="th-inner sortable both">操作</div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="list" id="vo"}
                                        <tr data-index="{$key}" data-uniqueid="{$vo['id']}">
                                            <!--<td class="bs-checkbox">
                                                <input data-index="{$key}" name="ids[]" type="checkbox" value="{$vo['id']}">
                                            </td>-->
                                            <td style="">{$vo['id']}</td>
                                            <td style="">{$vo['title']}</td>
                                            <td style="">￥{$vo['price']}</td>
                                            <td style="">{$vo['minnum']}张</td>
                                            <td style="">{$vo['update_time']}</td>
                                            <td style="">

                                                <a title="编辑" icon="fa fa-edit" class="btn btn-primary btn-xs" href="{:url('edit',array('id'=>$vo['id']))}" style="margin-right:6px;"><i class="fa fa-edit"></i> </a>


                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="fixed-table-pagination" style="display: block;">
                                    <div class="pull-left pagination-detail">
                                        <span class="pagination-info">总共 {$list->total()} 条记录</span>
                                    </div>
                                    <div class="pull-right pagination">
                                        {$list->render()}
                                    </div>
                                </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
    var $table = $('#builder-table');

    //导出excel
    $(".btn_excel").click(function () {
        $("#excel").val('excel');
        $("#search_form").submit();

    });


</script>

{/block}