{extend name="$_admin_public_base_"/}
{block name="style"}{/block}

{block name="main"}
<style>
    .select_list{padding-right:0; width:11%}
    .col-md-4{margin-top:5px;}
</style>
<section class="content pt-5">
    <div class="box box-solid eacoo-box">
        <div class="box-body">

        <div class="builder formbuilder-box panel-body bg-color-fff">

            <div class="row">    

                <div class="col-md-11">
                  <form action="{:url('changeStatus')}" method="post" class="form-builder form-horizontal">
                    <fieldset>

                      <input type="hidden" name="id" value="{$info.id}">
                      <input type="hidden" name="order_number" value="{$info.tkorder_number}">
                      <input type="hidden" name="order_listid" value="{$info.order_listid}">

					    <div class="form-group item_title">
							<label for="title" class="col-md-2 control-label">商品订单号：</label>
							<div class="col-md-4">
                                {$info.order_number|default=''}
							</div>
						  <div class="col-md-5 help-block"></div>
					    </div>
                        <div class="form-group item_title">
                            <label for="title" class="col-md-2 control-label">售后商品：</label>
                            <div class="col-md-4">
                                {$info.product|default=''} {$info.gg_title|default=''}
                            </div>
                            <div class="col-md-5 help-block"></div>
                        </div>

                        <div class="form-group item_title">
                            <label class="col-md-2 control-label">售后类型：</label>
                            <div class="col-md-4">
                                <label class="radio-label">
                                    {if condition="$info['apply_type'] eq 1"}<font style="color: red;">仅退款</font>{else/}<font style="color: #398439;">退款退货</font>{/if}
                                </label>
                            </div>
                            <div class="col-md-5 help-block"></div>
                        </div>

                        <input type="hidden" name="apply_type" value="{$info['apply_type']}" />
                        <div class="form-group item_title">
                            <label for="title" class="col-md-2 control-label">原因类型：</label>
                            <div class="col-md-4">
                                {$info['reason_id']|modelField='category','title'}
                            </div>
                        </div>
                        <div class="form-group item_title">
                            <label for="title" class="col-md-2 control-label">退款金额：</label>
                            <div class="col-md-4">
                                {$info['refund_price']|default=''}
                            </div>
                        </div>


                        <div class="form-group item_title">
                            <label for="title" class="col-md-2 control-label">申请原因：</label>
                            <div class="col-md-4">
                                {$info['content']}
                            </div>
                        </div>

                        <div class="form-group item_title">
                            <label class="col-md-2 control-label">上传图集：</label>
                            <div class="col-md-4">
                                {volist name="info['imgarr']" id='img'}
                                <div style="width:110px; height:110px; border:1px solid #d4d3d3; float: left; margin-left:5px; padding:5px;">
                                <a href="{$img['imgurl']}"><img src="{$img['imgurl']}" style="width:100%; max-height: 100%" /></a>
                                </div>
                                {/volist}
                            </div>
                        </div>

                        <div class="form-group item_title">
                            <label for="title" class="col-md-2 control-label">快递公司：</label>
                            <div class="col-md-4">
                                {$info['kuaidi_company']|default=''}
                            </div>
                        </div>
                        <div class="form-group item_title">
                            <label for="title" class="col-md-2 control-label">快递单号：</label>
                            <div class="col-md-4">
                                {$info['kuaidi_hao']|default=''}
                            </div>
                        </div>


                        {if condition="$info['chuli_status'] eq 1"}
                        <div class="form-group item_title">
                            <label class="col-md-2 control-label">审核结果：</label>
                            <div class="radio radio-primary fl mr-10">
                                <label class="radio-label">
                                    <input type="radio" name="after_status" value="2" checked /> 同意退款
                                </label>
                                <label class="radio-label">
                                    <input type="radio" name="after_status" value="3" /> 拒绝退款
                                </label>
                            </div>
                            <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 必须选择</div>
                        </div>

                        <div class="form-group item_title">
                            <label for="title" class="col-md-2 control-label">拒绝原因：</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="reason" value="" />
                            </div>
                        </div>

                        {/if}
                            <div class="form-group">
                                <div class="col-md-12 col-md-offset-2">
                                    {if condition="$info['chuli_status'] eq 1"}
                                  <div class="col-md-3"><button class="btn btn-block btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</button></div>
                                    {/if}
                                  <div class="col-md-3"><button class="btn btn-block btn-default return" onclick="javascript:history.back(-1);return false;">返回</button></div>
                              </div>
                          </div>

                         </fieldset>
                  </form>

                </div>    
           </div>
         </div>
        </div>
    </div>
</section>
{/block}
{block name="script"}
<script>
    $('#province_id').change(function(){
        var vals = $(this).val();
        if(vals>0){
            selectTypeTwo(vals,2,"#select_list2",'<option value="">选择市</option>');
        }
    });
    $('#select_list2').change(function(){
        var vals = $(this).val();
        if(vals>0){
            selectTypeTwo(vals,3,"#select_list3",'<option value="">选择区县</option>');
        }
    });
    function selectTypeTwo(parent_id,level,select_list,str){
        $.post("/Admin/Houser/son_zone",{parent_id:parent_id,level:level}, function(result){
            $(select_list).html(str+result['msg'])
        });
    }

</script>

{/block}
