{extend name="$_admin_public_base_"/}
{block name="style"}{/block}

{block name="main"}
<section class="content pt-5">
    <div class="box box-solid eacoo-box">
        <div class="box-body">
            <div class="cf eacoo-tabs">
                <ul class="nav nav-tabs">
                    <li class="tab_list active"><a href="javascript:;">基本信息</a></li>
                 <!--   <li class="tab_list"><a href="javascript:;">其他信息</a></li>-->
                </ul>

            </div>


        <div class="builder formbuilder-box panel-body bg-color-fff">

            <div class="row">
                <div class="col-md-11">
                  <form action="{:url('')}" method="post" class="form-builder form-horizontal">
                    <fieldset>
                      <input type="hidden" name="id" value="{$info.id}">
                      <input type="hidden" name="product_id" value="{$product_id}">

                        <div class="tab_content">
                            <div class="form-group item_title">
                                <label class="col-md-2 control-label">所属商品：</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" value="{$product_id|modelField='product','title'}" disabled >
                                </div>

                            </div>
                            <div class="form-group item_title">
                                <label class="col-md-2 control-label">规格分类：</label>
                                <div class="col-md-2">
                                    <select class="form-control" name="typeid" id="typeid">
                                        <option value="">请选择</option>
                                        {volist name="typelist" id="pro"}
                                        <option value="{$pro['id']}" data-type="{$pro['type']}" <?php if($info['typeid']==$pro['id']){echo 'selected';} ?>>{$pro['title']} {if condition="$pro['type'] eq 1"}（影响价格）{/if} </option>
                                        {/volist}
                                    </select>
                                </div>

                                <!--- 影响价格规格 --->
                                <input type="hidden" name="is_price" id="is_price" value="{$info['is_price']|default=0}" />

                                <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 必须选择</div>
                            </div>


					    <div class="form-group item_title">
							<label class="col-md-2 control-label">规格名称：</label>
							<div class="col-md-4">
							  <input type="text" class="form-control" name="gg_title" placeholder="规格名称" value="{$info.gg_title|default=''}" >
							</div>
						  <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 必须填写</div>
					    </div>
                            <div class="hide_div" style="<?php if($info['is_price']==1){echo 'display: block;';}else{echo 'display: none;';} ?>">
                            <div class="form-group item_title">
                                <label class="col-md-2 control-label">成本价格：</label>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" name="cben_price" placeholder="普通价格" value="{$info.cben_price|default=0}" >
                                </div>
                                <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 必填</div>
                            </div>

                            <div class="form-group item_title">
                                <label class="col-md-2 control-label">普通价格：</label>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" name="new_price" placeholder="普通价格" value="{$info.new_price|default=0}" >
                                </div>
                                <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 必填</div>
                            </div>
                            <div class="form-group item_title">
                                <label class="col-md-2 control-label">大客户价格：</label>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" name="bigdl_price" placeholder="大客户价格" value="{$info.bigdl_price|default=0}" >
                                </div>
                                <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 必填</div>
                            </div>
                            <div class="form-group item_title">
                                <label class="col-md-2 control-label">代理商价格：</label>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" name="dls_price" placeholder="小代理价格" value="{$info.dls_price|default=0}" >
                                </div>
                                <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 必填</div>
                            </div>

                            </div>
                            <!--<div class="form-group item_title">
                                <label class="col-md-2 control-label">库存：</label>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" name="stock" placeholder="排序" value="{$info.stock|default=0}" >
                                </div>
                                <div class="col-md-5 help-block"><i class="fa fa-info-circle color-info1"></i> 影响价格的规格才填写库存</div>
                            </div>-->
                        <div class="form-group item_title">
                            <label class="col-md-2 control-label">排序：</label>
                            <div class="col-md-2">
                                <input type="number" class="form-control" name="sort" placeholder="排序" value="{$info.sort|default=''}" >
                            </div>
                            <div class="col-md-5 help-block"> </div>
                        </div>

                            <div class="form-group item_image">
                                <label for="image" class="col-md-2 control-label">缩略图(影响价格的才传)：</label>
                                {include file="ad/picture"/}

                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-2">
                                <div class="col-md-3"><button class="btn btn-block btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</button></div>
                                <div class="col-md-3"><button class="btn btn-block btn-default return" onclick="javascript:history.back(-1);return false;">返回</button></div>
                            </div>
                        </div>


                         </fieldset>
                  </form>

                </div>    
           </div>
         </div>
        </div>
    </div>
</section>
{/block}
{block name="script"}
{include file="public/file"/}
<script>
    uploadcommer('#upload_file_1',"#video_url",1);
</script>
<script>

    var big_scale = "{$Think.config.big_customer_scale}";
    var dls_scale = "{$Think.config.dls_price_scale}";


$('select[name="position_id"]').change(function () {
    var size = $(this).find('option:selected').attr('data-size');

    if(size!=''){
        $("#description").text('图片尺寸'+size);
    }
});


$('.tab_list').click(function () {
    var index = $(this).index();
    $(this).addClass('active').siblings().removeClass('active');
    $('.tab_content').eq(index).show().siblings('.tab_content').hide();
});

//切换分类
$('#typeid').change(function(){
    var type = $(this).find('option:selected').attr('data-type');
    if(type==1){
        $(".hide_div").show();
        $("#is_price").val(1);
    }else{
        $(".hide_div").hide();
        $("#is_price").val(0);
    }
});

$("input[name='cben_price']").blur(function () {
    var cben_price = $(this).val();
    if(big_scale=='' || big_scale<=0){
        var bigdl_price = Number(cben_price);
    }else{
        var bigdl_price = Number(cben_price) + Number((Number(cben_price)*big_scale/100).toFixed(2));
    }
    $("input[name='bigdl_price']").val(bigdl_price);

    if(dls_scale=='' || dls_scale<=0){
        var dls_price = Number(cben_price);
    }else{
        var dls_price = Number(cben_price) + Number((Number(cben_price)*dls_scale/100).toFixed(2));

    }
    $("input[name='dls_price']").val(dls_price);
});


</script>




{/block}
